# Node / React
node_modules/
dist/
build/
*.log

# Environment
.env
.env.local

# Python Backend
__pycache__/
*.pyc
env/
venv/

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# Git Backup
*.orig
